.main-socialmedia {
}

#main-page
  display:flex
  flex-direction: column
  align-items:center
  justify-content: center
  height: 100%;
  overflow: hidden

#mega-title,#menu,.main-socialmedia,#bottom
  text-align: center
#mega-title,#menu,.main-socialmedia
  flex:1
#mega-title
  margin-top:150px;
  line-height: 3em
  h1
    font-size: 3em
  p
    font-size: 1em
#menu
  a
    margin: 0 10px;
#bottom
  box-sizing: border-box
  height:24px
  line-height:24px
