#layout-page
    display: flex
    flex-direction: column
    align-items:center
    justify-content: center
    min-height: 100%;

#layout-menu
    box-sizing: border-box
    width: 100%
    height: 24px
    display: flex
    a,div
        flex: 1
    .other-page
        a
            margin: 0 10px

#content
    display: flex
    flex-direction: column
    flex: 1
    box-sizing: border-box
    margin: 30px auto
    width: 30%
    .archive
        text-align: center
        flex: 1
.archive-list-item
    height: 24px
    line-height: 24px
    .archive-article-title
        // position: relative
        float: left 
    .archive-article-time
        // position: relative
        float: right
    margin-bottom: 10px

#paginator
    text-align: center
    margin-bottom: 0

#mega-head
    text-align: center

.layout-socialmedia
    text-align: right