#post
    line-height: 1.5
    h1,.created-date
        text-align: center
        display: block
        font-weight: bold
    h2,h3,h4,h5,h6
        line-height: 2
.sidebar-toc
    position: relative
    float: right

code
    font-family: 'Ubuntu Mono', monospace;
    width: 100%
    box-sizing: border-box

img 
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box
    border: 1px solid #eaeefb;
