.archive
    text-align: center
    flex: 1
.archive-list-item
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    line-height: 20px
    margin-top: 15px