.archive
    text-align: center
    flex: 1
.archive-list-item
    height: 24px
    line-height: 24px
    .archive-article-title
        float: left 
    .archive-article-time
        float: right
    margin-top: 15px
