#post
    line-height: 1.5
    h1,.created-date
        text-align: center
        display: block
        font-weight: bold
    h2,h3,h4,h5,h6
        line-height: 2
        margin-top: 10px
    ol,ul,p,pre
        margin-top: 10px
    ol,ul
        padding-left: 1rem
    table
        text-align: center
        width: 100%
        margin: 10px auto
        border: 1px solid black
        tbody
            tr:nth-child(odd)
                background: lightgray;
            tr:nth-child(even)
                background: white;

.sidebar-toc
    position: relative
    float: right

code
    font-family: 'Source Sans Pro', sans-serif;;
    width: 100%
    box-sizing: border-box
    background: lightgray;
    color: #1f2d3d;

img 
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box
    border: 1px solid #eaeefb;
