nav{
    display: flex;
}
nav ul{
    list-style-type: none;
    padding-left: 0;
}
nav li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: black;

}
a:hover{
    color: gray;
}