h1{
    font-size: 5em;
    letter-spacing: 6px;
    font-family: 'Amatic SC', cursive;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1em;
}
footer{
    position:absolute;
    bottom:0;
    width:99%;
    /* height:100px; */
    /* background-color: #ffc0cb; */
    text-align: center;
    overflow: hidden;
}